@import "header_style";
@import "utility_styles";

.footer {
  @extend %center-content;

  position: fixed;
  background-color: $main-color;
  bottom: 0;
  height: 80px;
  width: 100%;


  span {
    color: white;
    font-style: italic;
  }
}