@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

$main-color: #121c29;

* {
  font-family: 'Baloo Da 2', cursive;
  /* Made site unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.header {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;

  img {
    width: 80px;
    margin-left: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    margin: auto 20px auto;
    align-items: center;

    span {
      color: white;
      font-style: italic;
      font-size: 20px;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}