body {
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    width: 100vw;
    height: 100vh;
    padding-bottom: 80px;
}

.main {
    padding-bottom: 80px;
}

.user-input-section {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto auto;
}

.main-svg-picture {
    margin-right: 40px;
}

.user-input {
    padding: 40px;
    width: 400px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.user-input .value-group {
    position: relative;
}

.value-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.y-value-label,
.r-value-label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.active-input {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

#x-value-text {
    color: #fff;
    margin-bottom: 10px;
}

.x-value-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.x-button-group {
    margin-bottom: 10px;
}

.x-value-group .x-button-group .active {
    background-color: transparent;
    border-radius: 5px;
    border: white solid 1px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4;
}

.x-button {
    position: relative;
    display: inline-block;
    color: #03e9f4;
    background-color: transparent;
    border: none;
    transition: .5s;
    letter-spacing: 4px;
    width: 50px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

.x-button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.form-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-button {
    margin-right: 30px;
}

.data-form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.data-form a span {
    position: absolute;
    display: block;
}

.data-form a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.data-form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.data-form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.data-form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.data-form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.table-section {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto auto;
}

.table {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #EEEEEE;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}
.table-row:nth-of-type(odd) {
    background: #121c29;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
}

.header__item {
    text-transform: uppercase;
}

.table-data {
    color: white;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.filter__link::after {
    content: '';
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.filter__link.desc::after {
    content: '(desc)';
}
.filter__link.asc::after {
    content: '(asc)';
}