@import "utility_styles";

body {
  background: linear-gradient(#141e30, #243b55);
  min-height: 90vh;
  padding-bottom: 100px;
}

.user-input-section {
  @extend %center-content;

  max-width: 80%;
  margin: 40px auto auto;

  svg {
    margin-right: 40px;
  }
}