.modal_info {
  padding: 50px 100px;
  text-align: center;
  background-color: black;

  > h1 {
    color: white;
  }

  > p {
    color: white;
    font-size: 14px;
  }
}

.modal {
  opacity: 0;
  padding: 50px;
  position: absolute;
  z-index: 1100;
  transition: opacity 600ms linear 600ms;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 900;
  transition: opacity 200ms linear;
}

.display {
  opacity: 1;
  visibility: visible;
}

.conceal {
  visibility: visible;
}

.modal_close {
  background: #363D4E;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: transform 600ms;

  &:hover {
    background: #3E465A;
    transform: rotate(360deg) scale(1.10);
    transition: transform 600ms;
  }

  span {
    background: #FFFFFF;
    content: '';
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 20px;

    &:before,
    &:after {
      background: #FFFFFF;
      content: '';
      cursor: pointer;
      display: block;
      height: 2px;
      position: absolute;
      width: 20px;
    }

    &:first-child {
      background: none;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: translateY(-2px) rotate(-45deg);
      top: 2px;
    }
  }

  span:before {
    transform: rotate(45deg);
  }
}