$form-background-color: rgba(0,0,0,.5);

.table-buttons {
  background-color: $form-background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 30%;
  margin: 40px auto auto;
  height: 50px;
  border-radius: 10px;
}