@import "header_style";
@import "utility_styles";

.footer {
  @extend %center-content;

  position: fixed;
  background-color: $main-color;
  bottom: 0;
  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: column;

  span {
    @extend %italic-white-text;

    text-align: center;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}
