@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=MuseoModerno&display=swap');
@import "utility_styles";

$main-color: #121c29;

* {
  font-family: 'MuseoModerno', cursive;
  /* Made site unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.header {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;

  img {
    width: 80px;
    margin-left: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    margin: auto 20px auto;
    align-items: center;

    span {
      @extend %italic-white-text;

      margin-bottom: 3px;
    }
  }
}
