@import "~normalize.css";

@import "utility_styles";
@import "header_style";
@import "footer_style";
@import "neon_button_style";
@import "table_button_group_style";
@import "table_style";

body {
  background: linear-gradient(#141e30, #243b55);
  min-height: 90vh;
  padding-bottom: 100px;
}

.user-input-section {
  @extend %center-content;

  max-width: 80%;
  margin: 40px auto auto;

  svg {
    margin-right: 40px;
  }

  .form {
    background-color: $form-background-color;
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    box-sizing: border-box;
    border-radius: 10px;
  }

  .data-form {
    .y-value-group {
      position: relative;

      input {
        width: 100%;
        padding: 10px 0;
        color: white;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
      }
    }

    .radio-wrapper {
      display: flex;

      div:first-child {
        margin-right: 20px;
      }
    }

    .x-value-group,
    .r-value-group {
      span {
        @extend %italic-white-text;
        font-size: 16px;
      }

      > div {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 50px);
        grid-column-gap: 5px;
        grid-row-gap: 10px;
      }
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        background-color: transparent;
        color: white;
        border: white solid 1px;
        box-shadow: 0 0 5px $neon-color,
                    0 0 25px $neon-color,
                    0 0 50px $neon-color;
      }
    }

    .form_radio_button {
      width: 40px;

      > label {
        display: block;

        cursor: pointer;
        color: $neon-color;

        width: 100%;

        border: 1px solid $neon-color;
        border-radius: 6px;

        transition: .5s;

        text-align: center;

        &:hover {
          background: $neon-color;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 5px $neon-color,
                      0 0 25px $neon-color,
                      0 0 50px $neon-color,
                      0 0 100px $neon-color;
        }
      }
    }

    .form-button-group {
      @extend %center-content;
      margin-top: 50px;

      a:first-child {
        margin-right: 30px;
      }
    }

    .error-group {
      @extend %center-content;
      margin: 20px auto auto;
      display: flex;
      flex-direction: column;

      label {
        color: red;
        margin-bottom: 5px;
      }
    }
  }
}

.y-value-label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.active-input {
  top: -20px;
  left: 0;
  color: $neon-color;
  font-size: 12px;
}
