.header {
    background: linear-gradient(to right, white, #60d0a6);
}

.logo-image {
    width: 80px;
}

.logo {
    margin-left: 20px;
}

.footer {
    position: fixed;
    background-color: #60d0a6;
    width: 100%;
    height: 80px;
    bottom: 0;
}


